body {
	background-image: url(./img/Florence_skyline.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	margin: 0;
	padding: 0;
}

.profilo {
    width: 300;
}


table {
	
    display: flex;
	width: auto;
	height: auto;
	text-align: center;
	table-layout: fixed;
	border-collapse: collapse;
	justify-content: center;
	justify-self: center;
}



.instagram {
    width: 50;
    height: 50;
}